{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row justify-content-center p-3 h-100 pt-3" id="search-form-row">
    <div class="col-10 col-lg-7 pt-3" id="search-form">
        <form action="/" method="post">
            {% csrf_token %}
            {% for field in form  %}
            <div class="form-group">
                {{ field.label_tag }}{{field}}
            </div>

            {% endfor %}
            <div class="col m-0 pt-4">
                <button type="submit" class="btn btn-primary btn-lg btn-block ">
                    Generate Playlist
                </button>
            </div>
        </form>
    </div>

</div>
</div>
{% endblock %}