<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Here is your song</h1>

    <p>You searched for {{song_detail.song_title}} by {{ song_detail.artist }}</p>
    <p>It's BPM is {{song_detail.tempo}}, and it is {{ song_detail.duration }} long.</p>

    <p>{{ audio_features.duration_ms }}</p>
    <p>{{ audio_features.tempo }}</p>

    <table>
        <tr>
            <th>Track Name</th>
            <th>Artist</th>
            <th>Tempo</th>
            <th>Duration</th>
        </tr>
        {%for i in song_recommendations%}
        <tr>
            <td>{{i.song_title}}</td>
            <td>{{i.artist}}</td>
            <td>{{i.tempo}}</td>
            <td>{{i.duration}}</td>
        </tr>
        {%endfor%}
    </table>

    <p>Total duration is {{total_duration}}</p>
</body>

</html>