<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Here is your song</h1>

    <p>You searched for {{track.title}} by {{ track.artist }}</p>
    <p>It's BPM is {{track.tempo}}, and it is {{ track.duration }} long.</p>

    <table>
        <tr>
            <th>Track Name</th>
            <th>Artist</th>
            <th>Tempo</th>
            <th>Duration</th>
        </tr>
        {%for i in track.recommendations%}
        <tr>
            <td>{{i.title}}</td>
            <td>{{i.artist}}</td>
            <td>{{i.tempo}}</td>
            <td>{{i.duration}}</td>
        </tr>
        {%endfor%}
    </table>

    <p>Total duration is {{total_duration}}</p>

    <a href="{{ spotify_auth_url }}">Create Playlist in Spotify</a>

    <form action="/" method="post">
        {% csrf_token %}
        {{ playlist_form }}
        <input type="submit" value="Submit">
    </form>

    {% if success %}
    <p>success</p>
    {% endif %}
</body>

</html>